# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
firebase-debug.log*

# Dependencies
node_modules
functions/node_modules

# Build Outputs
dist
dist-ssr

# Environment Variables (Keep Secrets Safe!)
.env
.env.local
.env.production
functions/.env
*.local

# Firebase Cache
.firebase/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Deprecated/Old Keys (If they still exist locally)
firebase-service-account.json